<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.dao.CartsMapper">
    <select id="selectCartsByUserId" resultType="com.sm.bean.Carts">
        select * from carts where user_id=#{id}
    </select>
    <insert id="insertCart" useGeneratedKeys="false" keyProperty="id" keyColumn="id">
        insert carts value(#{id},#{amount},#{good_id},#{user_id})
    </insert>
    <update id="updateAmount">
        update carts set amount=#{amount} where id=#{id}
    </update>
    <resultMap id="cartAss" type="com.sm.bean.Carts">
        <id property="id" column="id"></id>
        <result property="amount" column="amount"></result>
        <result property="good_id" column="good_id"></result>
        <result property="user_id" column="user_id"></result>
        <association property="goods" column="good_id" javaType="com.sm.bean.Goods" select="com.sm.dao.GoodsMapper.selectGoodsById"></association>
    </resultMap>
    <select id="selectCartsDetail" resultMap="cartAss">
        select * from carts where user_id=#{user_id}
    </select>
    <select id="selectCartsTotalByUserId" resultType="integer">
        select sum(amount*price) from carts c,goods g where c.good_id=g.id and user_id=#{user_id}
    </select>
    <delete id="cartDeleteId">
        delete from carts where id=#{id}
    </delete>
    <select id="selectCartNum" resultType="integer">
        select sum(amount) from carts where user_id=#{id}
    </select>
    <select id="selectByCartId" resultMap="cartAss">
        select * from carts where id=#{id}
    </select>
    <delete id="deleteAll">
        delete from carts where user_id=#{id}
    </delete>
</mapper>
