<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.dao.TopsMapper">
    <insert id="insertTop">
        insert tops values(null,1,#{good_id});
    </insert>
    <delete id="deleteTopByGoodID">
        delete from tops where good_id=#{good_id}
    </delete>
</mapper>
